.layout {
  background-color: #fff;
  height: 100%;
}

.olist {
  height: 100%;
  overflow: auto;
  &-item {
  }
}
.ilist {
  &-item {
      padding: 12px 16px;
      border-bottom: 1px solid #eaeaea;
  }
}

.title {
  padding: 12px 16px;
  position: sticky;
  top: 0;
  background-color: #efefef;
  font-size: 12px;
  font-weight: bold;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}