.layout {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  color: #5b5b5b;
}
.units {
  display: flex;
  flex-wrap: wrap;
}
.unit {
  flex-basis: calc(1 / 7 * 100%);
  padding-top: calc(1 / 7 * 100%);
  height: 0;
  position: relative;
}
.base {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
}
.today {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: lightskyblue;
  color: white;
}
.outside {
  color: #aaa;
}
.days {
  display: flex;
  .day {
    flex: 1;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 12px 16px;
  .l {
    flex-shrink: 0;
  }
  .c {
    flex: 1;
  }
  .r {
    flex-shrink: 0;
    width: 76px;
    display: flex;
    justify-content: space-between;
    .prev,
    .next {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: #eaeaea;
    }
  }
}
